
body {
    font-family: 'Roboto', sans-serif;
    color: white;
}
h1, h2, h3 {
    text-transform: uppercase;
}
h1 {
    font-weight: bold;
    font-size: 40px;
}
h3 {
    font-size: 18px;
}

/* NAVBAR */
.ms_navbar {
    text-transform: uppercase;
    background-color: #2C3E50;
    border-radius: 0;
    margin-bottom: 0;
    height: 100px;
}
.ms_navbar .navbar-brand {
    font-weight: bold;
}
.ms_navbar a {
    line-height: 100px;
    padding: 0 15px;
    color: white;
}
.ms_navbar .icon-bar {
    background-color: white;
}
.ms_navbar .navbar-toggle {
    border: 1px solid white;
    margin-top: 32px;
    margin-bottom: 32px;
}
.ms_navbar .navbar-collapse {
    margin-top: 25px;
    margin-bottom: 25px;
}
/* /NAVBAR */


#jumbotron {
    padding: 50px 15px;
}
#jumbotron img {
    height: 260px;
}
#about,
#jumbotron {
    background-color: #1ABC9C;
}

.fa-star {
    font-size: 35px;
    margin: 15px 10px;
    vertical-align: middle;
}
.star {
    margin: 0 auto;
}
.star hr {
    vertical-align: middle;
    width: 20%;
    max-width: 150px;
    display: inline-block;
    border: 2px solid white;
}

#portfolio {
    text-align: center;
    padding: 50px 0;
    color: #3A546D;
}
.bold {
    font-weight: bold;
}
#portfolio .star {
    color: #3A546D;
}
#portfolio .star hr {
    border-color: #3A546D;
}
.portfolio_item {
    margin-top: 15px;
    margin-bottom: 15px;
}
.portfolio_item img {
    width: 100%;
    border-radius: 10px;
}

.wrapper70 {
    width: 70%;
    margin: 0 auto;
}
#about {
    padding: 20px;
}
#about .star i {
    margin: 15px 1px;
    font-size: 25px;
}
#about p {
    font-size: 18px;
    padding-bottom: 20px;
}
#about button {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}
main .btn-default {
    background-color: #1ABC9C;
    color: white;
    border: 1px solid white;
    text-transform: capitalize;
    font-size: 16px;
}
.fa-download {
    margin-right: 8px;
}
#around {
    height: 400px;
    background-color: #3A546D;
}

#copyright {
    height: 100px;
    background-color: #2C3E50;
}

/* COLOR */
.colorpink {
    background-color: #BA4B63;
}
.colorlightblue {
    background-color: #1EA4B6;
}
.colorblack {
    background-color: #140F0F;
}
.colorcyan {
    background-color: #1C83C1;
}
.colorblue {
    background-color: #0E38B5;
}
.colorsalmon {
    background-color: #CCB2A3;
}

@media screen and (min-width: 770px) {
  
    .ms_navbar .navbar-brand {
        font-size: 24px;
    }

    .ms_navbar .navbar-collapse {
        font-size: 18px;
    }

    #jumbotron h1 {
        font-size: 60px;
    }

}