
body {
    font-family: 'Roboto', sans-serif;
    color: white;
}
h1, h2, h3 {
    text-transform: uppercase;
}
h1 {
    font-weight: bold;
    font-size: 40px;
}
h3 {
    font-size: 18px;
}
.text_black {
    color: black;
}

/* NAVBAR */
.ms_navbar {
    text-transform: uppercase;
    background-color: #2C3E50;
    border-radius: 0;
    margin-bottom: 0;
    height: 100px;
}
.ms_navbar .navbar-brand {
    font-weight: bold;
}
.ms_navbar a {
    line-height: 100px;
    padding: 0 15px;
    color: white;
}
.ms_navbar .icon-bar {
    background-color: white;
}
.ms_navbar .navbar-toggle {
    border: 1px solid white;
    margin-top: 32px;
    margin-bottom: 32px;
}
.ms_navbar .navbar-collapse {
    margin-top: 25px;
    margin-bottom: 25px;
}
.ms_navbar .nav>li>a:focus, .nav>li>a:hover {
    background-color: #1ABC9C;
    border-radius: 10px;
}
/* /NAVBAR */


#jumbotron {
    padding-top: 150px;
    padding-bottom: 50px;
}
#jumbotron img {
    height: 260px;
}
#about,
#jumbotron {
    background-color: #1ABC9C;
}

.fa-star {
    font-size: 35px;
    margin: 15px 10px;
    vertical-align: middle;
}
.star {
    margin: 0 auto;
}
.star hr {
    vertical-align: middle;
    width: 20%;
    max-width: 150px;
    display: inline-block;
    border: 2px solid white;
}

#portfolio {
    text-align: center;
    padding: 50px 0;
    color: #3A546D;
}
.bold {
    font-weight: bold;
}
#portfolio .star,
#contact .star {
    color: #3A546D;
}
#contact .star hr,
#portfolio .star hr {
    border-color: #3A546D;
}
.portfolio_item {
    margin-top: 15px;
    margin-bottom: 15px;
}
.portfolio_item img {
    width: 100%;
    border-radius: 10px;
}

.wrapper70 {
    width: 70%;
    margin: 0 auto;
}
#about {
    padding: 20px;
}
#about .star i {
    margin: 15px 1px;
    font-size: 25px;
}
#about p {
    font-size: 18px;
    padding-bottom: 20px;
}
#about button {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}
main .btn-default {
    background-color: #1ABC9C;
    color: white;
    border: 1px solid white;
    text-transform: capitalize;
    font-size: 16px;
}
.fa-download {
    margin-right: 8px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem);
    padding: 0.375rem 0.75rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.125rem solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.floating-label-form-group input, .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
}
.ms_form .form-group {
    border-bottom: 2px solid rgba(51, 51, 51, 0.2);
}
.ms_form button {
    margin: 25px 0;
}
.list_inline {
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
}
.list_inline li {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.list_inline a {
    text-decoration: none;
    color: white;
}

#around .list_inline a {
    padding: 15px;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 50%;
}

#around {
    background-color: #3A546D;
    min-height: 250px;
}
#around h3 {
    font-size: 20px;
}
#around p {
    font-size: 20px;
}
#around span {
    color: #1ABC9C;
}
#around [class*="col-"] {
    padding-top: 20px;
    padding-bottom: 20px;
}

#copyright {
    height: 100px;
    background-color: #2C3E50;
}
#copyright h4 {
    margin: 0;
    padding-top: 30px;
}


@media screen and (min-width: 991px) {
    
    .ms_navbar .navbar-brand {
        font-size: 24px;
    }
    
    .ms_navbar .navbar-collapse {
        font-size: 18px;
    }
    
    #jumbotron h1 {
        font-size: 60px;
    }

    #around [class*="col-"] {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
}

@media screen and (max-width: 768px) {
  
    .ms_navbar .navbar-collapse{
        background-color: rgb(44, 62, 80);
        width: 25%;
        position: fixed;
        right: 0px;
        text-align: center;
        margin-top: 0;
    }

}